{
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-react-jsx-source",
    "add-module-exports"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 11"
          ]
        },
        "modules": false
      }
    ],
    "babel-preset-react"
  ]
}
